label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.check {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    box-shadow: 0px 0px 2px 2px var(--dark-bg);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    /* box-shadow: 0px 0px 2px 2px var(--dark-bg); */
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Dark Mode Styles */
input:checked + .slider {
    background-color: #444;
    box-shadow: 0px 0px 2px 2px var(--light-bg);
}

input:checked + .slider:before {
    background-color: #777;
    /* box-shadow: 0px 0px 2px 2px var(--light-bg); */
}

body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}
body.dark-mode .heading{
    background-color: var(--dark-bg);
    box-shadow: 0 8px 6px rgba(255, 255, 255, 0.373), 0 6px 15px rgba(255, 255, 255,  0.373);
}
body.dark-mode .title{
    color: var(--dark-text);
}
body.dark-mode .card{
    background-color: var(--dark-bg);
    color:var(--dark-text);
    box-shadow: 0px 0px 5px 5px var(--dark-text);
}
body.dark-mode .user-info{
    color:var(--dark-text);
}
.title{
    color:var(--light-text);
}
body.dark-mode .avatar{
    box-shadow: 0px 0px 5px 5px var(--light-bg);
}

body.dark-mode .heading .fa{
    box-shadow: 0px 0px 2px 2px var(--light-bg);
    background-color: var(--dark-bg);
    color: var(--dark-text);
}