@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
  --light-bg:#ffffff;
  --light-text:#333333;
  --light-accent-primary:#3498db;
  --light-accent-secondary:#e74c3c;

  --dark-bg:#1e272e;
  --dark-text:#ecf0f1;
  --dark-accent-primary:#3498db;
  --dark-accent-secondary:#e74c3c;


}


* {
    box-sizing: border-box;
    
}

body {
  background-color: var(--light-bg);
  color: var(--light-text);
  display: flex;
  font-family: 'Montserrat', sans-serif !important;
  
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}
.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 15px rgba(0, 0, 0, 0.1);
}

input {
  background-color: #72726f;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  
}
.fa{
  padding: 0px;
  font-size: 26px;
  height:30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-github{
  padding: 5px;
  height: 25%;
  background-color:#0a0a0a;
	color: rgb(243, 242, 242);
}
#form {
  text-align: center; /* Center the form */
}

.search-container {
  display: inline-block;
  position: relative;
  width: 25%;
}

#search {
  padding: 15px;
  width: 100%; /* Adjust the width as needed */
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 2px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--light-accent-primary); /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
}

/* Optional: Style the button on hover */
.search-button:hover {
  background-color: var(--light-accent-secondary); /* Hover background color */
}

.fa-moon-o{
  border-radius: 50%;
  background-color:#0a0a0a;
	color: rgb(243, 242, 242);
}
.toggle{
  text-align: right;
  margin: 0%;
  background-color: #171817;
  color: #eee;
}
button{
    font-size: 26px;
    background-color: #f5f8f5;   
}

input::placeholder {
  color: var(--dark-text);
}

.card {
  background-color: var(--light-bg);
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 0px 6px 6px var(--light-text);
  padding: 2rem;
  max-width: 800px;
  color: var(--light-text);

}
.theme{
  padding-top: 1%;
}
.heading{
  background-color: var(--light-bg);
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1), 0 6px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  color: var(--light-text);
  justify-content: space-between;
}
.repo-container button{
  font-size: 12px !important;
}
#header{
  text-align: center;
}
.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  /* border: 10px solid #f5f4f8; */
  box-shadow: 0px 0px 5px 5px var(--dark-bg);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.heading .fa{
  padding: 1px;
  font-size: 26px;
  height:30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px var(--light-text);

}

.heading .fa-github{
  background-color: var(--light-bg);
  color: #171817;

}

.user-info {
  color: var(--light-text);
  margin-left: 3rem;
  /* border: 1px solid red; */
  height:max-content;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  max-width: 300px;
}

.user-info ul{
  font-size: 1rem;
  margin-left: 4rem;
}

.repo {
  background-color: #fc4a1a;
  border-radius: 5px;
  display: inline-block;
  color: white;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
#repo-container{
  padding-top: 1%;
  /* border: 2px solid green; */
}

.repo-pill {
  background-color: var(--light-accent-primary);
  color: #ffffff;
  border: none;
  padding: 5px;
  font-size:medium;
  margin: 3px;
  cursor: pointer;
  border-radius: 20px;
}

.repo-pill:hover{
  background-color: var(--dark-accent-secondary);
}

.user-info ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding:0;
  max-width: 400px;
}